.bg-color {
    background: white;
}

.bg-login {
    background: linear-gradient(to top, #342456, #6E4CB5);
}

.img-bg{
    z-index:1;
}

.logo {
    max-width: 30;
}

@media only screen and (max-width: 900px) {
  .small-hidden{
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .xs-hidden{
    display: none;
  }
}